[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
pymysql = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-language = "*"
flask-datepicker = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.8"
