$theme-colors: (
  "primary": #5390d9,
  "success": #64dfdf,
  "secondary": #6d6875,
  "dark": #5e60ce,
  "warning": #ffd858,
  "danger": #e5989b
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

*{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

div.content-form{
    max-width: 420px;
    padding: 15px;
}

div.criar-conta{
    max-width: 600px;
    padding: 15px;
}

div.modal-content-width{
    max-width: 800px;
}

.menu-ico{
    max-width: 20px;
    padding-right: 5px;
}

.icons-social{
    max-width: 25px;
}

.img-perfil-base{
    max-width: 50px;
}

.imagem-box {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.imagem-perfil {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.scroll{
    height: 80vh;
    overflow-y: scroll;
}