$theme-colors: (
  "primary": #5390d9,
  "success": #64dfdf,
  "secondary": #6d6875,
  "dark": #5e60ce,
  "warning": #ffd858,
  "danger": #e5989b
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

*{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

div.content-form{
    max-width: 420px;
    padding: 15px;
}

div.criar-conta{
    max-width: 600px;
    padding: 15px;
}

div.modal-content-width{
    max-width: 800px;
}

.menu-ico{
    max-width: 20px;
}

.icone-button{
  max-width: 20px;
}

.icons-social{
    max-width: 25px;
}

.img-perfil-base{
    max-width: 50px;
}

.icone-input{
    max-width: 28px;
}

.icone-radio{
    max-width: 25px;
}

.imagem-box {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.imagem-perfil {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.scroll{
    height: 80vh;
    overflow-y: scroll;
}

/* ================================================================= */
/* The container input radio */
/* ================================================================= */

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #5390d9;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-radio .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }