{% extends 'base.html' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="text-primary text-left">Adicionar produtos</h2>
            </div>
            <div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#exampleModal">
                    Nova Categorias
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adicionar categorias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" action="{{ url_for('bp_produtos.adicionar_categorias') }}" method="post">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="firstName">Referência</label>
                                    <input type="text" class="form-control" name="referencia" id="firstName" placeholder="Referência" value="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="firstName">Fabricante</label>
                                    <input type="text" class="form-control" name="fabricante" id="firstName" placeholder="Fabricante" value="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="firstName">Tipo</label>
                                    <input type="text" class="form-control" name="tipo" id="firstName" placeholder="Ex: Comum, Importado" value="">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">Salvar categorias</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <div>
    <form class="needs-validation" action="{{ url_for('bp_produtos.adicionar_produtos') }}" method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="firstName">Codigo produto</label>
                <input type="text" class="form-control" name="cod" id="firstName" placeholder="Codigo" value="" required="">
            </div>

            <div class="col-md-4 mb-3">
                <label for="state">Referência</label>
                <select class="custom-select d-block w-100" name="referencia" id="state" required="">
                {% for ref in ref %}
                <option value="{{ ref.nome }}">{{ ref.nome }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label for="state">Tipo</label>
                <select class="custom-select d-block w-100" name="tipo" id="state" required="">
                {% for tip in tip %}
                <option value="{{ tip.nome }}">{{ tip.nome }}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Descrição</label>
                <input type="text" class="form-control" name="descricao" id="firstName" placeholder="Descrição" value="" required="">
            </div>

            <div class="col-md-6 mb-3">
                <label for="firstName">Complemento</label>
                <input type="text" class="form-control" name="complemento" id="firstName" placeholder="Complemento" value="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="country">Fabricante</label>
                <select class="custom-select d-block w-100" name="fabricante" id="country" required="">
                {% for fab in fab %}
                <option value="{{ fab.nome }}">{{ fab.nome }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="col-md-3 mb-3">
                <label for="firstName">Quantidade</label>
                <input type="number" class="form-control" name="quant" id="firstName" placeholder="0" value="" required="">
            </div>
            <div class="col-md-3 mb-3">
                <label for="firstName">Custo de compra</label>
                <input type="number" class="form-control" name="custo" id="firstName" placeholder="R$ 0,00" value="" required="">
            </div>
            <div class="col-md-3 mb-3">
                <label for="firstName">Preço de venda</label>
                <input type="number" class="form-control" name="preco" id="firstName" placeholder="R$ 0,00" value="" required="">
            </div>
        </div>
        <button class="btn btn-success text-white btn-lg btn-block mt-4" type="submit">Adiconar Produto</button>
    </form>
    <p class="mt-5 text-muted text-center">© 2020 Sistemas de produtos Fabricio Patrocinio</p>
    <p class="mb-5 text-muted text-center font-italic">Icones usados de <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </div>  
</main>
{% endblock body  %}