<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Vazio</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
      <img src="{{ url_for('static', filename='img/icons/user.png') }}" alt="">
      {% if current_user.nome %}
        {{ current_user.nome }}
      {% else %}
        Nenhum usuario
      {% endif %}
      </a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="btn btn-danger" href="{{ url_for('bp_auth.logout') }}">
          Sair da Conta
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 pt-3 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('bp_produtos.sistema_produtos', filtro=123) }}">
                  <img src="{{ url_for('static', filename='img/icons/home.png') }}" class="menu-ico" alt="">
                  Inicio <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bp_produtos.adicionar_produtos') }}">
                  <img src="{{ url_for('static', filename='img/icons/add.png') }}" class="menu-ico" alt="">                  
                  Adicionar produto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/delete.png') }}" class="menu-ico" alt="">
                  Remover
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/settings.png') }}" class="menu-ico" alt="">
                  Configurações
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bp_produtos.produtos_em_falta')}}">
                  <img src="{{ url_for('static', filename='img/icons/down-line-graphic.png') }}" class="menu-ico" alt="">
                  Produtos em falta
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bp_produtos.editar_categorias') }}">
                  <img src="{{ url_for('static', filename='img/icons/edit.png') }}" class="menu-ico" alt="">
                  Editar categorias
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Banco de dados</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <img src="{{ url_for('static', filename='img/icons/database.svg') }}" class="menu-ico" alt="">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/backup.png') }}" class="menu-ico" alt="">
                  Fazer Backup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/file.png') }}" class="menu-ico" alt="">
                  Restaurar Backup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/line-chart.png') }}" class="menu-ico" alt="">
                  Ultimos Buckups
                </a>
              </li>
            </ul>
          </div>
        </nav>

        {% block body %}
        {% endblock %}

      </div>
    </div>

    <!-- Usar local futuramente
    <script src="../static/node_modules/jquery/dist/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/node_modules/popper.js/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </body>
</html>