<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Vazio</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
      <img src="{{ url_for('static', filename='img/icons/user.svg') }}" alt="">
      {% if current_user.nome %}
        {{ current_user.nome }}
      {% else %}
        Nenhum usuario
      {% endif %}
      </a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="btn btn-sm btn-outline-danger" href="{{ url_for('bp_produtos.logout') }}">
          <img src="{{ url_for('static', filename='img/icons/user-x.svg') }}" alt="">
          Sair da Conta
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('bp_produtos.sistema_produtos') }}">
                  <img src="{{ url_for('static', filename='img/icons/home.svg') }}" alt="">
                  Inicio <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bp_produtos.adicionar_produtos') }}">
                  <img src="{{ url_for('static', filename='img/icons/plus-circle.svg') }}" alt="">                  
                  Adicionar produto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/trash-2.svg') }}" alt="">
                  Remover
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/settings.svg') }}" alt="">
                  Configurações
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bp_produtos.produtos_em_falta')}}">
                  <img src="{{ url_for('static', filename='img/icons/trending-down.svg') }}" alt="">
                  Produtos em falta
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('bp_produtos.adicionar_categorias') }}">
                  <img src="{{ url_for('static', filename='img/icons/edit.svg') }}" alt="">
                  Adicionar Categorias
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Banco de dados</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <img src="{{ url_for('static', filename='img/icons/database.svg') }}" alt="">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/save.svg') }}" alt="">
                  Fazer Backup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/download-cloud.svg') }}" alt="">
                  Restaurar Backup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <img src="{{ url_for('static', filename='img/icons/activity.svg') }}" alt="">
                  Ultimos Buckups
                </a>
              </li>
            </ul>
          </div>
        </nav>

        {% block body %}
        {% endblock %}

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </body>
</html>