<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="theme-color" content="#5e60ce">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Vazio</title>
    {% endif %}
  </head>
  <body>
    <div class="container criar-conta">
      <div class="py-5 text-center">
          <h2 class="display-4 text-primary">Crie sua conta</h2>
          <p class="text-muted">Ao criar sua conta você poderá adicionar produtos.</p>
      </div>

      <div>
        <p class="text-danger">Preencha todos os dados com cuidado.</p>
        <form class="needs-validation" action="{{ url_for('bp_auth.criar_conta') }}" enctype="multipart/form-data" method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if  messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
              {% if category == 'success' %}
                <a href="{{ url_for('bp_auth.index')}}" class="btn btn-lg btn-primary btn-block mb-3">Fazer login</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome de usuário" required="">
            </div>
            <small id="emailHelp" class="form-text text-muted">O seu nome de usuário não pode ter espaços e letras maiúsculas. <br> Ex: <code>usuarionome, usuario-nome, usuario.nome</code></small>
          </div>

          <input type="file" name="img-perfil" id="inputGroupFile01" accept="image/jpeg, image/jpg, image/png, image/gif" placeholder="Selecione uma foto de perfil">
          
          <div class="mb-3">
            <label for="senha">Crie uma senha</label>
            <input type="password" name="senha" class="form-control mb-3" id="email" placeholder="Senha">
            <input type="password" name="confirmar-senha" class="form-control" id="email" placeholder="Confirmar senha">
            <small id="emailHelp" class="form-text text-muted">Sua senha deve conter de 6 a 8 caracteres.</small>
          </div>

          <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Opcional)</span></label>
            <input type="email" class="form-control" name="email" id="email" placeholder="voce@exemplo.com">
            <small id="emailHelp" class="form-text text-muted">Seu email servirá para recuperar sua senha caso venha esquecer.</small>
          </div>

          <button class="btn btn-success text-white btn-lg btn-block" type="submit">Criar Conta</button>
        </form>

        <hr class="mb-4 mt-4">
        <p class="text-center text-muted">Já possui conta? faça login.</p>
        <a href="{{ url_for('bp_auth.index')}}" class="btn btn-lg btn-primary btn-block">Fazer login</a>
      </div>
      <footer class="p-5">
          <p class="text-muted text-center">© 2020 Sistemas de produtos Fabricio Patrocinio</p>
          <div class="d-flex justify-content-center">
              <a href="" class="ml-3 mr-3 icons-social">
              <img src="{{ url_for('static', filename='img/icons/facebook.png') }}" alt="">
              </a>
              <a href="" class="ml-3 mr-3 icons-social">
              <img src="{{ url_for('static', filename='img/icons/instagram.png') }}" alt="">
              </a>
              <a href="" class="ml-3 mr-3 icons-social">
              <img src="{{ url_for('static', filename='img/icons/github.png') }}" alt="">
              </a>
          </div>
          <p class="text-muted text-center mt-2"><small class="text-muted">Todo o projeto do sistema no meu Github</small></p>
          <p class="text-muted text-center mt-2"><small class="text-muted">Icones usados de <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></small></p>
      </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </body>
</html>