<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Vazio</title>
    {% endif %}
  </head>
  <body>
    <div class="container content-form mt-5">
        <form class="form-signin" method="post" action="{{ url_for('bp_auth.index') }}">
          <div class="text-center mb-4">
            <h1 class="display-5 text-success mb-3 font-weight-normal">Faça Login</h1>
            <p class="text-muted">Faça login para ter acesso ao sistema de produtos ou crie uma conta.</p>
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <div class="form-label-group mb-3">
            <input type="text" id="inputEmail" name="nome" value="{% if nome %}{{ nome }}{% endif %}" class="form-control form-control-lg" placeholder="Email ou usuário" required="" autofocus="">
            <small id="emailHelp" class="form-text text-muted">Seu nome não pode conter espaços</small>
          </div>

          <div class="form-label-group mb-3">
            <input type="password" id="inputPassword" name="senha" value="{% if senha %}{{ senha }}{% endif %}" class="form-control form-control-lg" placeholder="Senha" required="">
            <small id="emailHelp" class="form-text text-muted">Sua senha tem máximo 8 dígitos</small>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar senha ?
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
          <hr class="mb-4">
          
          <p class="text-center text-muted">Não tem conta? Crie uma conta para poder acessar ao sistema de produtos</p>
          <a href="{{ url_for('bp_auth.criar_conta')}}" class="btn btn-lg btn-success btn-block">Criar conta</a>
          <p class="mt-5 mb-3 text-muted text-center">© 2020 Sistema de produtos Fabricio Patrocinio</p>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </body>
</html>