<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Vazio</title>
    {% endif %}
  </head>
  <body>
    <div class="container content-form mt-5">
        <form class="form-signin" method="post" action="{{ url_for('bp_produtos.index') }}">
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Sistema de Produtos</h1>
          </div>
          {% with erro = get_flashed_messages() %}
            {% if erro %}
              <div class="alert alert-danger" role="alert">
              {{ erro[0] }}
              {{ erro[1] }}
              </div>
            {% endif %}
          {% endwith %}

          <div class="form-label-group">
            <input type="text" id="inputEmail" name="nome" value="{% if nome %}{{ nome }}{% endif %}" class="form-control" placeholder="Email ou usuário" required="" autofocus="">
            <label for="inputEmail">Seu email ou nome de usuário</label>
          </div>

          <div class="form-label-group">
            <input type="password" id="inputPassword" name="senha" value="{% if senha %}{{ senha }}{% endif %}" class="form-control" placeholder="Senha" required="">
            <label for="inputPassword">Sua senha</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar senha ?
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
          <hr class="mb-4">
          <p class="text-center">Ou crie uma conta para poder acessar ao sistema de produtos</p>
          <a href="{{ url_for('bp_produtos.criar_conta')}}" class="btn btn-lg btn-success btn-block">Criar conta</a>
          <p class="mt-5 mb-3 text-muted text-center">© 2020 Sistema de produtos FB</p>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </body>
</html>