{% extends 'base.html' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
      </div>
    </div>
    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:200%;height:200%;left:0; top:0">
      </div>
    </div>
  </div>
  <h2 class="text-primary">Produtos em falta</h2>

  <div class="dropdown btn-group btn-group-toggle">
    <button class="btn btn-primary dropdown-toggle rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filtrar por
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for ref in ref %}
        <a class="dropdown-item" href="{{ url_for('bp_produtos.produtos_em_falta_filtrar', id=ref.id) }}">{{ ref.nome }}</a>
      {% endfor %}
    </div>
    <div class="btn btn-success text-white">
      {% for ref in ref%}
        {% if ref.id == id%}
        {{ ref.nome }}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <hr class="mb-4">
  <div class="table-responsive">
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-primary bg-primary text-white">
        <tr>
          <th>COD</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Fabricante</th>
          <th>Quantidade</th>
          <th>Custo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        {% for p in result %}
        <tr>
          <td>{{ p.cod }}</td>
          <td>{{ p.tipo_id.nome }}</td>
          <td>{{ p.descricao }}</td>
          <td>{{ p.fabricante_id.nome }}</td>
          <td class="text-center text-danger">{{ p.quant }}</td>
          <td>R$ {{ '%0.2f'|format(p.custo|float) }}</td>
          <td>R$ {{ '%0.2f'|format(p.preco|float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <footer class="p-5">
    <p class="text-muted text-center">© 2020 Sistemas de produtos Fabricio Patrocinio</p>
    <div class="d-flex justify-content-center">
        <a href="https://www.facebook.com/fabricio.schiffer/" target="_blank" class="ml-3 mr-3 icons-social">
        <img src="{{ url_for('static', filename='img/icons/facebook.png') }}" alt="">
        </a>
        <a href="https://www.instagram.com/fabricio_patrocinio_/" target="_blank" class="ml-3 mr-3 icons-social">
        <img src="{{ url_for('static', filename='img/icons/instagram.png') }}" alt="">
        </a>
        <a href="https://github.com/FabricioPatrocinio" target="_blank" class="ml-3 mr-3 icons-social">
        <img src="{{ url_for('static', filename='img/icons/github.png') }}" alt="">
        </a>
    </div>
    <p class="text-muted text-center mt-2"><small class="text-muted">Todo o projeto do sistema no meu Github</small></p>
    <p class="text-muted text-center mt-2"><small class="text-muted">Icones usados de <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></small></p>
  </footer>
</main> 
{% endblock body  %}