{% extends 'base.html' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
      </div>
    </div>
    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
      <div style="position:absolute;width:200%;height:200%;left:0; top:0">
      </div>
    </div>
  </div>
  <h2>Produtos em falta</h2>
  <hr class="mb-4">
  <div class="table-responsive">
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>COD</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Fabricante</th>
          <th>Quantidade</th>
          <th>Custo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        {% for p in result %}
        <tr>
          <td>{{ p.cod }}</td>
          <td>{{ p.tipo }}</td>
          <td>{{ p.descricao }}</td>
          <td>{{ p.fabricante }}</td>
          <td class="text-center text-danger">{{ p.quant }}</td>
          <td>R$ {{ '%0.2f'|format(p.custo|float) }}</td>
          <td>R$ {{ '%0.2f'|format(p.preco|float) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <p class="mt-5 mb-5 text-muted text-center">© 2020 Sistemas de produtos Fabricio Patrocinio</p>
</main> 
{% endblock body  %}